@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Box Model Hack */
* {
	box-sizing: border-box;
	font-family: "Source Serif Pro", serif;
	margin: 0;
	padding: 0;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

//main color (default)
:root {
	--color-main: #222;
	--color-background: #e3f6f3;
	--color-main-lighter: #1a1a1a;
	--color-highlight: #088178;
	--color-background1: #fddde4;
	--color-background2: #cdebbc;
	--color-background3: #d1e8f2;
	--color-background4: #cdd4f8;
	--color-background5: #f6dbf6;
	--color-background6: #fff2e5;
	--color-product: #cce7d0;
	--color-brandName: #606063;
	--color-rating: rgb(243, 181, 25);
	--color-carts: #e8f6ea;
}

//colors for dark-mode
.dark-mode {
	--color-main: #eef5f5;
	--color-background: #111720;
	--color-main-lighter: #d3d7cf; //darker
	--color-highlight: #088178;
}

/******************************************
  /* BASE STYLES
  /*******************************************/

body {
	width: 100%;
}

h1 {
	font-size: 50px;
	line-height: 64px;
	color: var(--color-main);
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: var(--color-main);
}
h4 {
	font-size: 20px;
	color: var(--color-main);
}

h6 {
	font-size: 12px;
	font-weight: 700;
}
p {
	font-size: 16px;
	color: #465b52;
	margin: 15px 0 20px 0;
}
/******************************************
  /* LAYOUT
  /*******************************************/

//Header Start
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: var(--color-background);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	.kahunas {
		display: flex;
		align-items: flex-end;
		text-decoration: none;
		cursor: pointer;
		gap: 1.2rem;
		text-transform: uppercase;
		flex-wrap: wrap;
		h2 {
			font-family: "Nosifer", cursive;
			font-size: 3rem;
		}
	}
	img {
		width: auto;
		height: 4rem;
	}
	#navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			padding: 0 20px;
			list-style: none;
			position: relative;
			a {
				text-decoration: none;
				font-size: 16px;
				font-weight: 600;
				color: var(--color-main-lighter);
				&:hover,
				&.active {
					color: var(--color-highlight);
				}
				&.active::after,
				&:hover::after {
					content: "";
					width: 30%;
					height: 2px;
					background-color: var(--color-highlight);
					position: absolute;
					bottom: -4px;
					left: 20px;
				}
			}
		}
	}
}
//Home page
#homepage {
	background-image: url("../img/hero.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	background-color: var(--color-background);
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	h4 {
		padding-bottom: 14px;
	}
	h1 {
		color: var(--color-highlight);
	}
	button {
		background-image: url("../img/note.png");
		background-color: transparent;
		color: var(--color-highlight);
		border: 0;
		padding: 14px 80px 14px 65px;
		cursor: pointer;
		font-weight: 700;
		font-size: 25px;
		border-radius: 7px;
		background-repeat: no-repeat;
	}
}
//feature section
#feature {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.feature-box {
		width: 250px;
		text-align: center;
		padding: 25px 15px;
		box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
		border: 1px solid var(--color-background);
		border-radius: 4px;
		margin: 15px 0;
		&:hover {
			box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
		}
		img {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
		h6 {
			display: inline-block;
			padding: 9px 8px 6px 8px;
			line-height: 1;
			border-radius: 4px;
			color: var(--color-highlight);
			background-color: var(--color-background1);
		}
		&:nth-child(2) h6 {
			background-color: var(--color-background2);
		}
		&:nth-child(3) h6 {
			background-color: var(--color-background3);
		}
		&:nth-child(4) h6 {
			background-color: var(--color-background4);
		}
		&:nth-child(5) h6 {
			background-color: var(--color-background5);
		}
		&:nth-child(6) h6 {
			background-color: var(--color-background6);
		}
	}
}
//featured product section
#product1 {
	text-align: center;
	.product-cont {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		flex-wrap: wrap;
		.prod {
			width: 23%;
			min-width: 250px;
			padding: 10px 12px;
			border: 1px solid var(--color-product);
			border-radius: 25px;
			box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
			cursor: pointer;
			margin: 15px 0;
			transition: 0.2s ease;
			position: relative;
			&:hover {
				box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
			}
			img {
				width: 100%;
				border-radius: 20px;
			}
			.description {
				text-align: start;
				padding: 10px 0;
				span {
					color: var(--color-brandName);
					font-size: 12px;
				}
				h5 {
					padding-top: 7px;
					color: var(--color-main-lighter);
					font-size: 14px;
				}
				i {
					font-size: 12px;
					color: var(--color-rating);
				}
				h4 {
					padding-top: 7px;
					font-size: 15px;
					font-weight: 700;
					color: var(--color-highlight);
				}
			}
			.cart {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				line-height: 40px;
				background-color: var(--color-carts);
				font-weight: 500;
				color: var(--color-highlight);
				border: 1px solid var(--color-product);
				position: absolute;
				bottom: 20px;
				right: 10px;
			}
		}
	}
}

.section-p1 {
	padding: 40px 80px;
}
.section-m1 {
	margin: 40px 0;
}

footer {
	padding: 0;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
