@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/******************************************
  /* GLOBAL STYLES
  /*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
	font-family: "Source Serif Pro", serif;
	margin: 0;
	padding: 0;
}

//main color (default)
:root {
	--color-fav-bright: #ff4e37;
	--color-fav-dark: #1d8f92;
	--color-main: #222;
	--color-background: #e3f6f3;
	--color-main-lighter: #1a1a1a;
	--color-highlight: #088178;
	--color-background1: #fddde4;
	--color-background2: #cdebbc;
	--color-background3: #d1e8f2;
	--color-background4: #cdd4f8;
	--color-background5: #f6dbf6;
	--color-background6: #fff2e5;
	--color-product: #cce7d0;
	--color-brandName: #606063;
	--color-rating: rgb(243, 181, 25);
	--color-carts: #e8f6ea;
	--color-white: #fff;
	--color-promotion: #ef3636;
	--color-paragraphs: #465b52;
	--color-newsletter: #041e42;
	--color-newsletter-para: #818ea0;
	--color-offers: #ffbd27;
	--color-blogsnums: #c9cbce;
	--color-border-color: #e1e1e1;
	--main-shade: -1px -1px 0 var(--color-main), 1px -1px 0 var(--color-main),
		-1px 1px 0 var(--color-main), 1px 1px 0 var(--color-main);
	--highlight-shade: -1px -1px 0 var(--color-highlight),
		1px -1px 0 var(--color-highlight), -1px 1px 0 var(--color-highlight),
		1px 1px 0 var(--color-highlight);
	--white-shade: -1px -1px 0 var(--color-white), 1px -1px 0 var(--color-white),
		-1px 1px 0 var(--color-white), 1px 1px 0 var(--color-white);
	--gold-shade: -1px -1px 0 var(--color-offers),
		1px -1px 0 var(--color-offers), -1px 1px 0 var(--color-offers),
		1px 1px 0 var(--color-offers);
}

//colors for dark-mode
.dark-mode {
	--color-main: #eef5f5;
	--color-background: #111720;
	--color-main-lighter: #d3d7cf; //darker
	--color-highlight: #088178;
	--color-black: #000;
}

.section-p1 {
	padding: 40px 80px;
}
.section-m1 {
	margin: 40px 0;
}

/******************************************
  /* BASE STYLES
  /*******************************************/

body {
	width: 100%;
}

h1 {
	font-size: 50px;
	line-height: 64px;
	color: var(--color-main);
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: var(--color-main);
}
h4 {
	font-size: 20px;
	color: var(--color-main);
}

h6 {
	font-size: 12px;
	font-weight: 700;
}
p {
	font-size: 16px;
	color: var(--color-paragraphs);
	margin: 15px 0 20px 0;
}
button {
	&.normal {
		font-size: 14px;
		font-weight: 600;
		padding: 15px 30px;
		color: var(--color-main);
		background-color: var(--color-white);
		border-radius: 4px;
		cursor: pointer;
		border: none;
		outline: none;
		transition: 0.2s;
	}
}
button {
	&.white {
		font-size: 13px;
		font-weight: 600;
		padding: 11px 18px;
		color: var(--color-white);
		background-color: transparent;
		cursor: pointer;
		border: 1px solid var(--color-white);
		outline: none;
		transition: 0.2s;
	}
}
.logo {
	width: auto;
	height: 4rem;
}
.kahunas {
	text-shadow: var(--highlight-shade);
}
/******************************************
  /* LAYOUT
  /*******************************************/

//Header Start
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: var(--color-background);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	.kahunas {
		display: flex;
		align-items: flex-end;
		text-decoration: none;
		cursor: pointer;
		text-transform: uppercase;
		flex-wrap: wrap;
		h2 {
			font-family: "Nosifer", cursive;
			font-size: 3rem;
		}
	}
	#navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			padding: 0 20px;
			list-style: none;
			position: relative;
			a {
				text-decoration: none;
				font-size: 16px;
				font-weight: 600;
				color: var(--color-main-lighter);
				&:hover,
				&.active {
					color: var(--color-highlight);
				}
				&.active::after,
				&:hover::after {
					content: "";
					width: 30%;
					height: 2px;
					background-color: var(--color-highlight);
					position: absolute;
					bottom: -4px;
					left: 20px;
				}
			}
		}
		#close {
			display: none;
		}
	}
	#mobile {
		display: none;
		align-items: center;
	}
}
//Home page
#homepage {
	background-image: url("../../img/hero.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	background-color: var(--color-background);
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	h4 {
		padding-bottom: 14px;
		text-shadow: var(--white-shade);
	}
	h2 {
		text-shadow: var(--highlight-shade);
	}
	h1 {
		color: var(--color-highlight);
		text-shadow: var(--main-shade);
	}
	p {
		text-shadow: var(--white-shade);
	}
	button {
		background-image: url("../../img/note.png");
		background-color: transparent;
		color: var(--color-highlight);
		padding: 14px 80px 14px 65px;
		cursor: pointer;
		font-weight: 700;
		font-size: 25px;
		border-radius: 7px;
		background-repeat: no-repeat;
		text-shadow: var(--gold-shade);
	}
}
//feature section
#feature {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.feature-box {
		width: 180px;
		text-align: center;
		padding: 25px 15px;
		box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
		border: 1px solid var(--color-background);
		border-radius: 4px;
		margin: 15px 0;
		&:hover {
			box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
		}
		img {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
		h6 {
			display: inline-block;
			padding: 9px 8px 6px 8px;
			line-height: 1;
			border-radius: 4px;
			color: var(--color-highlight);
			background-color: var(--color-background1);
		}
		&:nth-child(2) h6 {
			background-color: var(--color-background2);
		}
		&:nth-child(3) h6 {
			background-color: var(--color-background3);
		}
		&:nth-child(4) h6 {
			background-color: var(--color-background4);
		}
		&:nth-child(5) h6 {
			background-color: var(--color-background5);
		}
		&:nth-child(6) h6 {
			background-color: var(--color-background6);
		}
	}
}
//featured product section
#product1 {
	text-align: center;
	.product-cont {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		flex-wrap: wrap;
		.prod {
			width: 23%;
			min-width: 250px;
			padding: 10px 12px;
			border: 1px solid var(--color-product);
			border-radius: 25px;
			box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
			cursor: pointer;
			margin: 15px 0;
			transition: 0.2s ease;
			position: relative;
			&:hover {
				box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
			}
			img {
				width: 100%;
				border-radius: 20px;
			}
			.description {
				text-align: start;
				padding: 10px 0;
				span {
					color: var(--color-brandName);
					font-size: 12px;
				}
				h5 {
					padding-top: 7px;
					color: var(--color-main-lighter);
					font-size: 14px;
				}
				i {
					font-size: 12px;
					color: var(--color-rating);
				}
				h4 {
					padding-top: 7px;
					font-size: 15px;
					font-weight: 700;
					color: var(--color-highlight);
				}
			}
			.cart {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				line-height: 40px;
				background-color: var(--color-carts);
				font-weight: 500;
				color: var(--color-highlight);
				border: 1px solid var(--color-product);
				position: absolute;
				bottom: 20px;
				right: 10px;
			}
		}
	}
}
//banner section
#banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-image: url("../../img/fachry.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
	//position: relative;
	h4 {
		color: var(--color-white);
		font-size: 16px;
		//position: absolute;
		//top: 25px;
	}
	h2 {
		color: var(--color-white);
		font-size: 30px;
		padding: 10px 0;
		//position: absolute;
		//top: 40px;
		text-shadow: var(--highlight-shade);
		span {
			color: var(--color-promotion);
			text-shadow: var(--white-shade);
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
		}
	}
	button {
		&:hover {
			background-color: var(--color-highlight);
			color: var(--color-white);
		}
	}
}
// call to actions boxes
#call-to-action {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.banner-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		background-image: url("../../img/products/new/zara\ boots.jpg");
		min-width: 580px;
		height: 50vh;
		background-size: cover;
		background-position: center;
		padding: 30px;
		h4 {
			color: var(--color-white);
			font-size: 20px;
			font-weight: 300;
			text-transform: capitalize;
		}
		h2 {
			color: var(--color-white);
			font-size: 28px;
			font-weight: 800;
			text-shadow: var(--main-shade);

			span {
				color: var(--color-highlight);
				font-size: 20px;
			}
			//terms and conditions
			a {
				font-size: 12px;
				color: var(--color-main);
				font-weight: lighter;
				text-shadow: none;
				text-decoration: none;
			}
		}
		span {
			color: var(--color-white);
			font-size: 14px;
			font-weight: 500;
			padding-bottom: 15px;
			text-shadow: var(--main-shade);
		}
		&:hover {
			button {
				background: var(--color-highlight);
				border: 1px solid var(--color-highlight);
			}
		}
	}
	.banner-box2 {
		background-image: url("../../img/nike_flyknit.jpg");
		h4 {
			color: var(--color-main);
		}
		h2 {
			color: var(--color-main);
			text-shadow: var(--white-shade);
		}
		span {
			color: var(--color-main);
			text-shadow: var(--white-shade);
		}
	}
}
//promotion call-to-action banners
#promotion-banner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.banner-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		background-image: url("../../img/nike_runnign.jpg");
		min-width: 32.666666666666664%;
		height: 30vh;
		background-size: cover;
		background-position: center;
		padding: 20px;
		margin-bottom: 20px;
		h2 {
			color: var(--color-white);
			text-shadow: var(--highlight-shade);
			font-weight: 900;
			font-size: 22px;
			text-transform: uppercase;
		}
		h3 {
			color: var(--color-promotion);
			text-shadow: var(--main-shade);
			font-size: 15px;
			font-weight: 800;
		}
	}
	.box2 {
		background-image: url("../../img/products/new/tommy_hilfinger\ complete\ gear\ men.jpg");
		h2 {
			color: var(--color-main-lighter);
			text-shadow: var(--highlight-shade);
		}
		h3 {
			color: var(--color-promotion);
			text-shadow: var(--main-shade);
		}
	}
	.box3 {
		background-image: url("../../img/products/new/tommy_hilfinger\ ladies\ complete\ gear.jpg");
		h2 {
			color: var(--color-background1);
			text-shadow: var(--highlight-shade);
		}
	}
}
//newsletter
#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--color-newsletter);
	background-image: url("../../img/barrientos.png");
	background-position: 25% 40%;
	background-repeat: no-repeat;
	h4 {
		font-size: 22px;
		font-weight: 700;
		color: var(--color-white);
	}
	p {
		font-size: 14px;
		font-weight: 600;
		color: var(--color-newsletter-para);
		text-shadow: var(--main-shade);
		span {
			color: var(--color-offers);
		}
	}
	.form {
		display: flex;
		width: 40%;
		input {
			height: 3.125rem;
			padding: 0 1.25em;
			font-size: 14px;
			width: 100%;
			border: 1px solid transparent;
			border-radius: 4px;
			outline: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		button {
			background-color: var(--color-highlight);
			color: var(--color-white);
			white-space: nowrap;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
//footer
footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.kahunas {
		display: flex;
		align-items: flex-end;
		text-decoration: none;
		cursor: pointer;
		text-transform: uppercase;
		flex-wrap: wrap;
		h2 {
			font-family: "Nosifer", cursive;
			font-size: 3rem;
			margin-bottom: 30px;
		}
	}
	.col {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 20px;
		.logo {
			margin-bottom: 30px;
		}
	}
	h4 {
		font-size: 14px;
		padding-bottom: 20px;
	}
	p {
		font-size: 13px;
		margin: 0 0 8px 0;
	}
	a {
		font-size: 13px;
		text-decoration: none;
		color: var(--color-main);
		margin-bottom: 10px;
		&:hover {
			color: var(--color-highlight);
		}
	}
	.follow {
		margin-top: 20px;
		i {
			font-size: 22px;
			color: var(--color-paragraphs);
			padding-right: 4px;
			cursor: pointer;
			&:hover {
				color: var(--color-highlight);
			}
		}
	}
	.install {
		img {
			margin: 10px 0 15px 0;
			cursor: pointer;
		}
		.row {
			img {
				border: 1px solid var(--color-highlight);
				border-radius: 6px;
			}
		}
	}
	.copyright {
		width: 100%;
		text-align: center;
		color: var(--color-newsletter-para);
	}
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/* Shop page */
#shop-page {
	background-image: url("../../img/nike_grafitti.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
	h2,
	p {
		color: var(--color-background3);
		text-shadow: var(--main-shade);
	}
}
#page-navigation {
	text-align: center;
	a {
		text-decoration: none;
		background-color: var(--color-highlight);
		padding: 15px 20px;
		border-radius: 4px;
		color: var(--color-background);
		font-weight: 600;
		margin-right: 15px;
		font-size: 22px;
	}
}

/* Single product */
#details {
	display: flex;
	margin-top: 10px;
	.product-image {
		width: 40%;
		margin-right: 50px;
		.smaller-image {
			display: flex;
			justify-content: space-between;
			.img-column {
				flex-basis: 24%;
				cursor: pointer;
			}
		}
	}
	.product-detail {
		width: 50%;
		padding-top: 30px;
		h4 {
			padding: 40px 0 20px 0;
		}
		h2 {
			font-size: 26px;
		}
		select {
			display: block;
			padding: 5px 10px;
			margin-bottom: 10px;
		}
		input {
			width: 50px;
			height: 47px;
			padding-left: 10px;
			font-size: 16px;
			margin-right: 10px;
			&:focus {
				outline: none;
			}
		}
		button {
			color: var(--color-white);
			background-color: var(--color-highlight);
		}
		span {
			line-height: 35px;
		}
	}
}

/* Blog page */
#shop-page {
	&.blog-header {
		background-image: url("../../img/passion.jpg");
	}
}
#blog {
	padding: 150px 150px 0 150px;
	.blog-container {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		border: 1px dotted var(--color-fav-dark);
		margin-bottom: 45px;
		.blog-img {
			width: 50%;
			margin-right: 40px;
			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}
		}
		.blog-peek {
			width: 50%;
			a {
				color: var(--color-main);
				font-size: 11px;
				font-weight: 700;
				text-decoration: none;
				position: relative;
				transition: 0.3s;
				&:hover {
					color: var(--color-highlight);
					&::after {
						background-color: var(--color-highlight);
					}
				}
				&::after {
					content: "";
					width: 50px;
					height: 1px;
					background-color: var(--color-main);
					position: absolute;
					top: 4px;
					right: -60px;
				}
			}
		}
		h1 {
			position: absolute;
			top: -40px;
			left: 0;
			font-size: 70px;
			font-weight: 700;
			color: var(--color-blogsnums);
			z-index: -9;
		}
	}
}

/* About page */
#shop-page {
	&.about-header {
		background-image: url("../../img/good_things_inside.jpg");
		h2,
		p {
			color: var(--color-fav-dark);
			text-shadow: var(--white-shade);
		}
		p {
			color: var(--color-main);
		}
	}
}
#about-head {
	display: flex;
	align-items: center;
	img {
		width: 50%;
		height: auto;
	}
	div {
		padding-left: 40px;
	}
}
#about-app {
	text-align: center;
	.video {
		width: 70%;
		height: 100%;
		margin: 30px auto 0 auto;
		video {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}
	}
}

/* Contact page */
#contact-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.details {
		width: 40%;
		span {
			font-size: 12px;
		}
		h2 {
			font-size: 26px;
			line-height: 35px;
			padding: 20px 0;
		}
		h3 {
			font-size: 16px;
			padding-bottom: 15px;
		}
		ul {
			li {
				display: flex;
				list-style: none;
				padding: 10px 0;
				i {
					font-size: 14px;
					padding-right: 22px;
				}
				p {
					font-size: 14px;
					margin: 0;
				}
			}
		}
	}
	.map {
		width: 55%;
		height: 500px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
#form-details {
	form {
		width: 65%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span {
			font-size: 12px;
		}
		h2 {
			font-size: 26px;
			line-height: 35px;
			padding: 20px 0;
		}
		input,
		textarea {
			width: 100%;
			outline: none;
			padding: 12px 15px;
			margin-bottom: 20px;
			border: 1px solid var(--color-border-color);
		}
		button {
			background-color: var(--color-highlight);
			color: var(--color-white);
		}
	}
	.members {
		div {
			padding-bottom: 25px;
			img {
				width: 65px;
				height: 65px;
				object-fit: cover;
				border: 1px dashed var(--color-fav-dark);
				border-radius: 50%;
				margin-right: 15px;
			}
			p {
				margin: 0;
				font-size: 13px;
				line-height: 25px;
				span {
					color: var(--color-black);
					display: block;
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
	}
}

/* Cart page */

/* Start Media Query */
//for ipad mini (<800px)
@media (max-width: 899px) {
	.section-p1 {
		padding: 40px 40px;
	}
	#header {
		#navbar {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-start;
			position: fixed;
			top: 0;
			right: -300px;
			height: 100vh;
			width: 300px;
			background-color: var(--color-background);
			box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
			padding: 80px 0 0 10px;
			transition: 0.4s;
			li {
				margin-bottom: 25px;
			}
			&.active {
				right: 0;
			}
			#close {
				display: initial;
				position: absolute;
				top: 30px;
				left: 30px;
				color: var(--color-main);
				font-size: 24px;
			}
			.remove {
				display: none;
			}
		}
		#mobile {
			display: flex;
			align-items: center;
			i {
				color: var(--color-main-lighter);
				font-size: 24px;
				padding-left: 20px;
			}
		}
	}
	#homepage {
		height: 70vh;
		padding: 0 80px;
		background-position: top 30% right 30%;
	}
	#feature {
		justify-content: center;
		.feature-box {
			margin: 15px 15px;
		}
	}
	#product1 {
		.product-cont {
			justify-content: space-around;
			.prod {
				margin: 15px;
			}
		}
	}
	#banner {
		height: 20vh;
		h2 {
			top: 22px;
		}
	}
	#call-to-action {
		.banner-box {
			min-width: 100%;
			height: 30vh;
			background-position: bottom;
		}
		.banner-box2 {
			background-position: center;
			margin-top: 15px;
		}
	}
	#newsletter {
		.form {
			width: 70%;
		}
	}
	/* About Page */
	#blog {
		padding: 40px 40px 0 40px;
	}
}

//for iphone SE (<477px)
@media (max-width: 477px) {
	.logo {
		width: auto;
		height: 1.75rem;
	}
	.section-p1 {
		padding: 20px;
	}
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 32px;
	}
	#header {
		padding: 10px 30px;
		.kahunas {
			img {
				display: none;
			}
			h2 {
				font-size: 1.5rem;
			}
		}
	}
	#homepage {
		padding: 0 20px;
		background-position: 55%;
	}
	#feature {
		justify-content: space-between;
		.feature-box {
			width: 155px;
			margin: 0 0 15px 0;
		}
	}
	#product1 {
		.product-cont {
			.prod {
				width: 100%;
			}
		}
	}
	#banner {
		height: 40vh;
	}
	#call-to-action {
		.banner-box {
			height: 40vh;
		}
	}
	#promotion-banner {
		.banner-box {
			width: 100%;
		}
	}
	#newsletter {
		padding: 40px 20px;
		.form {
			width: 100%;
		}
	}
	footer {
		.kahunas {
			img {
				display: none;
			}
			h2 {
				font-size: 1.5rem;
			}
		}
		&.section-p1 {
			padding-top: 0;
		}
	}

	/* Single Product */
	#details {
		display: flex;
		flex-direction: column;
		.product-image,
		.product-detail {
			width: 100%;
		}
		.product-image {
			margin-right: 0;
		}
	}
	/* Blog Page */
	#blog {
		padding: 100px 20px 0 20px;
		.blog-container {
			flex-direction: column;
			align-items: flex-start;
			border: none;
			.blog-img {
				width: 100%;
				margin-right: 0px;
				margin-bottom: 30px;
			}
			.blog-peek {
				width: 100%;
			}
		}
	}

	/* About page */
	#about-head {
		flex-direction: column;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		div {
			padding-left: 0;
		}
	}
	#about-app {
		.video {
			width: 100%;
		}
	}
}
